@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #41bf01;
  --color-secondary: #004008;
  --color-base-200: #004008;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}

* {
  font-family: "Bitter", serif;
}
