@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #38ad2d;
  --color-secondary: #002f1e;
  --color-base-200: #002f1e;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}

* {
  font-family: "Bitter", serif;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: bold;
}
